#back-to-top{
    color: white;
    bottom: 3em;
    right: 3em;
    text-decoration: none;
    border: 1px solid black;
    padding: 1em 2em;
    margin-bottom: 10px;
    background-color: rgb(161, 139, 139);
    border-radius: 12px;
    position:fixed;
    display: inline-block;
    opacity: 0;
}
#back-to-top:hover{
    padding: 1em 3em;
}
#back-to-top.visible{
    opacity: 90%;
}